body
{
	font-family: Verdana, Verdana, Geneva, sans-serif;
}

#cabecera
{
	height: 13%;
	
	border-bottom: 1px solid black;
}
#cabeceraImg
{
	height: 13%;
}
#cabeceraTit
{
	font-family: Verdana, Verdana, Geneva, sans-serif;
	text-align: center;
	/*background-color: #e9ffb9;*/
	height: 13%
}

#cabeceraLat
{
	
	height: 13%;
}

.titulo
{
	text-align: center;
	margin-bottom: 8%;
}

#divText1
{
	margin:4% 4%;
}

#divText2
{
	margin:4% 4%;
}
.lateral
{
	/*/*background-color: #a2d5ff;*/
}

.joc
{
	/*background-color: #5ad8ff;*/
	/*height: 100%;*/
}

#anadirPalabra
{
	height: 10%;
	/*background-color: #a4ff17;*/
}
#estadisticas
{
	padding-top:2%;
	height: 10%;
	/*background-color: #00ff5d;*/
}
.anPal
{
	margin-left: 2%;
	margin-right: 2%;
	margin-top:2%;
}

#spanLeft
{
	margin-left: 15%;
}

.TBletras
{
	width: 40px;
	margin: 0 2%;
	border-width: 3px;
}

#TBL
{
	margin: 3% auto;
	/*background-color: #ffb64f;*/
}

#letra
{
	margin:auto;
	width: 45px;
	margin-bottom:2%;
}

#validar
{
	margin-bottom: 3%;
}

#info
{
	padding: 0 2%;
	margin: auto;
	width: 60%;
	/*background-color: #deafff;*/
}
.est
{
	/*background-color: #ff0d81;*/
	width: auto;
}

.TBL4
{
	width:195px;
}
.TBL5
{
	width:255px;
}
.TBL6
{
	width:340px;
}
.TBL7
{
	width: 395px;
}
.TBL8
{
	width: 475px;
}

#mensaje
{
	font-size: 2em;
	text-align: center;
	margin:auto;
	/*background-color: #7acbff;*/
}

.TBdiv
{
	display:inline-block;
	margin:0 2%;
}

@media (max-width: 992px) {
	#cabeceraLat
	{
		/*background-color: #e9ffb9;*/
		height: 0%;
	}
	#cabeceraImg
	{
		height: 0%;
	}
}

@media (max-width: 699px) {
	#anadirPalabra
	{
		height: 13%;
		/*background-color: #a4ff17;*/
	}
	#spanLeft
	{
		margin-left: 0%;
	}
}

@media (max-width: 437px) {
	#nuevaPalBut
	{
		margin-top: 3%;
	}
}
