body
{
	font-family: Verdana, Verdana, Geneva, sans-serif;
}
#cabecera
{
	height: 13%;
	
	border-bottom: 1px solid black;
}
#cabeceraImg
{
	height: 13%;
}
#cabeceraTit
{
	font-family: Verdana, Verdana, Geneva, sans-serif;
	text-align: center;
	background-color: #e9ffb9;
	height: 13%
}

#cabeceraLat
{
	
	height: 13%;
}

.lateral
{
	/*background-color: #a2d5ff;*/
}

.joc
{
	background-color: #5ad8ff;
	/*height: 100%;*/
}

#anadirPalabra
{
	height: 10%;
	background-color: #a4ff17;
}
#estadisticas
{
	padding-top:2%;
	height: 10%;
	background-color: #00ff5d;
}
.anPal
{
	margin-left: 2%;
	margin-right: 2%;
	margin-top:2%;
}

#spanLeft
{
	margin-left: 15%;
}

.TBletras
{
	width: 25px;
	margin: 0 2%;
}

#TBL
{
	margin: 3% auto;
	background-color: #ffb64f;
}

#validar
{
	margin-bottom: 3%;
}

#info
{
	padding: 0 2%;
	margin: auto;
	width: 60%;
	background-color: #deafff;
}
.est
{
	background-color: #ff0d81;
	width: auto;
}

.TBL4
{
	width:120px;
}
.TBL5
{
	width:165px;
}
.TBL6
{
	width:210px;
}
.TBL7
{
	width: 250px;
}
.TBL8
{
	width: 310px;
}

#mensaje
{
	font-size: 2em;
	text-align: center;
	margin:auto;
	background-color: #7acbff;
}

@media (max-width: 992px) {
	#cabeceraLat
	{
		background-color: #e9ffb9;
		height: 0%;
	}
}

@media (max-width: 699px) {
	#anadirPalabra
	{
		height: 13%;
		background-color: #a4ff17;
	}
	#spanLeft
	{
		margin-left: 0%;
	}
}


