.classNO
{
	background-color: #f6fff1;
}
.class1
{
	background-color: #F56D9A;
}
.class2
{
	background-color: #822393;
}
.class3
{
	background-color: #F3EA66;
}
.class4
{
	background-color: #00C9F4;
}
.class5
{
	background-color: #FF6434;
}
.class6
{
	background-color: #ec554f;
}
.classOK
{
	background-color: #2cbb21;
}
.classKO
{
	background-color: #ff0610;	
}