body
{
	width: auto;
	background-color: #F2f2f2;
}

#start
{
	position: absolute;
	top:0;
	left:0;
}

#tauler
{
	width: auto;
	height: auto;
}

.fila
{
	clear:both;
	width:auto;
	height: 65px;
}

.casella
{
	width:65px;
	height: 65px;
	border:1px solid black;
	float:left;
	box-sizing: border-box;
	background-color: #edecc0;
	margin: 1px;
}

.casL
{
	border-left: 2px solid black;
}
.casD
{
	border-right: 2px solid black;
}
.casA
{
	border-top: 2px solid black;
}
.casB
{
	border-bottom: 2px solid black;
}

.circleA,.circleB
{
	border-radius: 50%;
	width:50px;
	height: 50px;
	margin:auto;
	margin-top: 5px;
}

.unhappy
{
	background-image: url('unhappy.png');
	background-repeat: no-repeat;
}

.circleA
{
	background-color: #0bd04f;
	border:1px solid #056b28;
}
.circleB
{
	
	background-color: #50a7d0;
	border:1px solid #143260;
}

.posible
{
	background-color: #edcd4f;
}
.posibleActiu
{
	background-color: #eda669;
}
.por
{
	display: inline-block;
}
.por50
{
	margin-left: -8px;
}
.por55
{
	margin-left: 54px;
}
.por60
{
	margin-left: 56px;
}
.por65
{
	margin-left: 56px;
}
.por70
{
	margin-left: 55px;
}
.por75
{
	margin-left: 55px;
}
.por80
{
	margin-left: 55px;
}
.por85
{
	margin-left: 55px;
}
.por90
{
	float:right;
	margin-right: -5px;
}

.por30
{
	margin-left: -8px;
}
.por35
{
	margin-left: 130px;
}
.por40
{
	margin-left: 130px;
}
.por45
{
	margin-left: 130px;
}
.por502
{
	float:right;
	margin-right: -5px;
}

.modal-content
{
	width:800px;
	margin:auto;
}
.modal-dialog
{
	width: auto;
}

.slider{
	margin: 5px auto;
	width:600;
}

.radioOp1
{
	float:left;
	width:300px;
}
.radioOp2
{
	float:right;
	width:300px;
}
.modal-footer
{
	clear:both;
}
.opcions
{
	margin-left: 20px;
}