body
{
	width: auto;
	background-color: #F2f2f2;
}
.white, .white a {
  color: #fff;
}

.buton
{
	background-color: #303030;
	-webkit-box-shadow: 7px 0px 5px -2px black ;
	-moz-box-shadow: 7px 0px 5px -2px black ;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-radius: 45px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius: 45px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-radius: 45px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
#carg
{
	display:none;
	visibility: hidden;
}
#download
{
	margin-top: 15px;
}
#cargar
{
	margin-top: 15px;
}
#download *
{
	color:white;
	text-decoration: none;
}

#start
{
	margin-top: 20px;
	margin-bottom: 15px;
}

#desp
{
	height: 100%;
}

#presentacio
{
	overflow-x:scroll;
	height: 100%;
}

#info
{
	width:300px;
	margin:40px auto;
}

.infoPrinc
{
	text-align: justify;
	width:700px;
	margin-left: 30px;
}

.paragraf
{
	text-align: justify;
	margin:15 auto;
}

#conf
{
	box-sizing:border-box;
	background-color: #d3d3d3;
	color:black;
	height: 100%;
	float:left;
	overflow: scroll;
}

#conf2
{
	width:auto;
	height: 100%;
	float:left;
	margin-right: 250px;
}

#tauler
{
	float:left;
	width: auto;
	height: auto;
}

.fila
{
	clear:both;
	width:auto;
	height: 65px;
}

.casella
{
	width:65px;
	height: 65px;
	border:1px solid black;
	float:left;
	box-sizing: border-box;
	background-color: #FFEDC5;
	margin: 1px;
}


.circleA,.circleB
{
	border-radius: 50%;
	width:50px;
	height: 50px;
	margin:auto;
	margin-top: 5px;
}

.unhappy
{
	background-image: url('unhappy.png');
	background-repeat: no-repeat;
}

.circleA
{
	background-color: #62cc08;
	border:1px solid #2e6203;
}
.circleB
{
	
	background-color: #33B5E5;
	border:1px solid #114051;
}

.posible
{
	background-color: #FFD071;
}
.posibleActiu
{
	background-color: #FF892F;
}
.por
{
	display: inline-block;
}
.por50
{
	margin-left: -8px;
}
.por55
{
	margin-left: 54px;
}
.por60
{
	margin-left: 56px;
}
.por65
{
	margin-left: 56px;
}
.por70
{
	margin-left: 55px;
}
.por75
{
	margin-left: 55px;
}
.por80
{
	margin-left: 55px;
}
.por85
{
	margin-left: 55px;
}
.por90
{
	float:right;
	margin-right: -5px;
}

.por30
{
	margin-left: -8px;
}
.por35
{
	margin-left: 130px;
}
.por40
{
	margin-left: 130px;
}
.por45
{
	margin-left: 130px;
}
.por502
{
	float:right;
	margin-right: -5px;
}

.modal-content
{
	width:800px;
	margin:auto;
}
.modal-dialog
{
	width: auto;
}

.slider{
	margin: 5px auto;
	width:600;
}

.radioOp1
{
	float:left;
	width:300px;
}
.radioOp2
{
	float:right;
	width:300px;
}
.modal-footer
{
	clear:both;
}
.opcions
{
	margin-left: 20px;
}

.img
{
	margin:20px;
}

.imgSch
{
	margin: 50px;
	margin-left:255px;
}

#mensajeFinal
{
	position: absolute;
	margin:16% 15%;
	width:70%;
	height: 30%;
	background-color: #ffffff;
	opacity: 1;
	border:3px solid #303030;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	color:#000000;
	text-align: center;
}
.acercate
{
	font-weight: bold;
}

#left
{
	margin-right: 20px;
}

#title
{
	text-align:center;
	margin-bottom:30px;
}

.glyphicon
{
	margin-right: 10px;
}

#mens
{
	margin:40px auto;
}
