body {
	margin: 0;
}
#portada,#joc
{
	/*background-color: #FFF;*/
}
#joc
{
	padding-top: 50px;
}
.textPort
{
	height: 130px;
}
#controls
{
	position: fixed;
	background-color: black;
	height: 50px;
}
#maillots
{
	margin-top: 6%;
}
#logo
{
	margin-top: 3%;
}
#buttons1,#buttons2
{
	margin-top: 10%;
}
#butNueva,#butImg
{
	float:left;
}
#butCargar,#butBuy
{
	float: right;
}
.text
{
	padding-top: 5%;
	text-align: justify;
}
.container-liquid {
	padding: 0 15px;
	margin: 0 auto;
}

.barra
{
	height: 46px;
}
.progCic
{
	background-color:#9FBFBF;
}
.ciclista1,.ciclista2
{
	margin-top: 45px;
	margin-left:-40px; 
	font-size:3em;

}
.ciclista1
{
	color:black;
}
.ciclista2
{
	color:black;
}

#info1,#info2
{
	padding: 2% 0;
}

.equipo
{
	text-align: center;
	width: 10%;
	font-size: 2em;
	padding-right: 20px;
}

#firm
{
	float:right;
}


#butEq0,#butEq1
{
}

.conf
{
	background-color:;
	height: 600px;
	overflow: scroll;
}

.equipos,.equipos2
{
	margin:4% 0;
}

.step
{
	margin-top: 3%;
	text-align: center;
	font-size: 3em;
}
.maillots,.maillotsRiv
{
}

.mensajeStep
{
	text-align: center;
	font-size: 1.2em;
	visibility: hidden;
}
.carousel-caption
{
	color:black;
	font-size: 2em;
}
#botonesConfIz
{
	
}
#botonesConf
{
	margin-top: 3%;
}

#mensajeConfSuc,#mensajeConfDan
{
	margin-top: 3%;
	text-align: center;
}

.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }

.btn-anadir {
  color: #ffffff;
  background-color: #FF8100;
  border-color: #b35a00;
}

.btn-anadir:hover,
.btn-anadir:focus,
.btn-anadir:active,
.btn-anadir.active,
.open .dropdown-toggle.btn-anadir {
  color: #ffffff;
  background-color: #e67400;
  border-color: #9a4d00;
}

.btn-anadir:active,
.btn-anadir.active,
.open .dropdown-toggle.btn-anadir {
  background-image: none;
}

.btn-anadir.disabled,
.btn-anadir[disabled],
fieldset[disabled] .btn-anadir,
.btn-anadir.disabled:hover,
.btn-anadir[disabled]:hover,
fieldset[disabled] .btn-anadir:hover,
.btn-anadir.disabled:focus,
.btn-anadir[disabled]:focus,
fieldset[disabled] .btn-anadir:focus,
.btn-anadir.disabled:active,
.btn-anadir[disabled]:active,
fieldset[disabled] .btn-anadir:active,
.btn-anadir.disabled.active,
.btn-anadir[disabled].active,
fieldset[disabled] .btn-anadir.active {
  background-color: #e67400;
  border-color: #5cb85c;
}

.btn-anadir .caret{
  border-top-color: #fff;
}

.dropup .btn-anadir .caret,{
  border-bottom-color: #fff;
}

.progress-bar {
  -webkit-transition: width 3s swing;
  transition: width 3s swing;
}
.progress.active .progress-bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
#selecPartida
{
	text-align: center;
}

.mySlider
{
	width:200px;
	margin-bottom: 25px;
	margin-top: 10px;
}

.infoCor,.textSlider
{
	text-align: center;
}

.hist
{
	font-size: 1em;
}

.ajustesImg
{
	vertical-align: center;
	font-size: 4em;
}


.bolsaAgua
{
	margin-left: -10px;
	margin-top: -8px;
}

.bolsaImg
{
	font-size: 3em;
	color:black;
}

.bolsaAguaImg
{
	font-size: 4em;
	color:black;
}
#puntEqAg
{
	margin-left: 10px;
	margin-top: -45px;
	text-align: center;
	font-size: 1em;
	width:150px;
	color:black;
}
#puntEqEn,#puntEqGras
{
	margin-top: -35px;
	text-align: center;
	font-size: 1em;
	width:150px;
	color:black;
}
#bolsaCor
{
	margin-top: 15px;
}

.bolsaCor
{
	margin-left:15px;
}

#titBolsa
{
	font-size: 2em;
	margin-top: 10px;
}

.addBolsa
{
	cursor: pointer;
	margin-left:10px;
}

@media(max-width: 991px){
	.textPort
	{
		height: auto;
		padding: auto 20px;
	}
	#buttons1,#buttons2
	{
		margin-top: 10px;
	}
	.step
	{
		margin-top: 0;
		padding-top: 3%;
		width: 100%;
		text-align: center;
		position: fixed;
		top:0px;
		z-index:1000;
		background-color: #FFF;
		height: 150px;
	}
	.equipos,#confRow
	{
		margin-top: 150px;
		margin-bottom: 0;
	}
	.equipos2
	{
		margin:0;
	}
}
@media(max-width: 767px){

}
